* {
    font-family: Helvetica;
}
body {
    background-color: black;
}
.head {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.head h1 {
    font-size: 60px;
}
/*Navigation Bar*/
.nav-bar {
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    border-radius: 6px;
}
.nav-bar a {
    padding: 5px;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.nav-bar a:hover {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
/*End Navigation*/

/*CSS Layout*/
.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.leftcolumn {
    flex: 4;
    padding: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
}

.rightcolumn {
    flex: 1;
    padding: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
    margin: 10px 0;
}

article {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
    background-color: black; 
    border-radius: 6px;
}

#text {
    display: none;
}

h1, h2, h5, p {
    color: white;
    font-weight: bold;
}
img.img {
    max-width: 100%;
    border-radius: 6px;
}
.profile {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}
img.img1 {
    max-width: 100%;
    border-radius: 6px;
    width: 1295px;
    height: 800px;
}

.card {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid white;
    background-color: black;
    border-radius: 6px;
    margin-bottom: 30px;
}

/*Layout End*/

/* Footer */
.card-footer {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 6px;
}

.footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 20px;
    background-color: white; 
    color: black;
}


.footer h2 {
    margin: 0;
    color: black;
    font-size: 20px;
}
/*Footer End*/